nav{
  display:flex;
  justify-content: space-evenly;
  padding:30px;
  flex-direction: row;
  font-size: 25px;
  background-color: antiquewhite;
  align-items: center;
}
.App header{
  display: flex;
  font-size: 40px;
  font-weight: 500;

}
a{  
  justify-content: right;
  padding: 15px;
  margin: 15px;
  font-size: 25px;
  font-weight: 500;
  font-family: sans-serif;
}

li {
  list-style: none;
  border-style: solid ;
  border-radius: 20px;
  margin: 10px 0px 30px;
  padding:10px;
}
ul{
  padding:10px;
}

.loginbox{
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
  height:calc(100vh - 204px);
}
.login {
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: solid ;
  margin: 20px ;
  width: 50%;
}

.login .title{
  font-size: 400;
}

.loginform input {
  display: flex;
  flex-direction: column;
  
}

